@import "null.css";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");


.wrapper{
	min-height: 100%;
	overflow: hidden;
}
.header{
	font-family:"Lato" ;
	background-color: cadetblue; 
	padding: 30px;
	text-align: center;
	border-radius: 30px 20px 30px 30px;
	
}
.header:hover{
	text-decoration:underline rgb(59, 164, 182);
}
	
.block-1{
	padding: 15px;
	margin: 70px;
	border-radius: 30px;
}
.block-1:hover{

background-color: blanchedalmond;

}
.zalivka{
	padding: 40px;
	background-color: darkcyan;
}
.block-2:hover{
	text-transform: uppercase;
	background-color: rgb(123, 84, 214);
	padding: 100px;
	margin: 30px;
	border-radius: 30px 40px 50px 60px;
	
}
.block-2{
	margin-bottom: 300px;
}
